In [24]:
import pandas as pd
import datetime as dt
import numpy as np

questions = pd.read_csv("2019_questions.csv", parse_dates=["CreationDate"])
questions.head()

,id,PostTypeId,CreationDate,Score,ViewCount,Tags,AnswerCount,FavoriteCount
0,1468768,1,2019-08-07 14:55:24,1,280.0,<linux><networking><bridge><openwrt><mikrotik-...,1.0,NaN
1,1468769,1,2019-08-07 14:59:25,0,24.0,<microsoft-excel><microsoft-excel-2010><condit...,1.0,NaN
2,1468770,2,2019-08-07 15:11:52,2,NaN,NaN,NaN,NaN
3,1468771,1,2019-08-07 15:13:51,0,28.0,<context-menu><visual-studio-code>,0.0,NaN
4,1468772,1,2019-08-07 15:16:18,1,48.0,<boot>,1.0,NaN

In [25]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
id               50000 non-null int64
PostTypeId       50000 non-null int64
CreationDate     50000 non-null datetime64[ns]
Score            50000 non-null int64
ViewCount        26345 non-null float64
Tags             26345 non-null object
AnswerCount      26345 non-null float64
FavoriteCount    2789 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 3.1+ MB

In [26]:
questions["FavoriteCount"] = questions["FavoriteCount"].replace({np.NAN: 0})
questions["ViewCount"] = questions["ViewCount"].replace({np.NAN: 0})
questions["AnswerCount"] = questions["AnswerCount"].replace({np.NAN: 0})

In [27]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
id               50000 non-null int64
PostTypeId       50000 non-null int64
CreationDate     50000 non-null datetime64[ns]
Score            50000 non-null int64
ViewCount        50000 non-null float64
Tags             26345 non-null object
AnswerCount      50000 non-null float64
FavoriteCount    50000 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 3.1+ MB

In [30]:
questions = questions.dropna()
questions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26345 entries, 0 to 49999
Data columns (total 8 columns):
id               26345 non-null int64
PostTypeId       26345 non-null int64
CreationDate     26345 non-null datetime64[ns]
Score            26345 non-null int64
ViewCount        26345 non-null float64
Tags             26345 non-null object
AnswerCount      26345 non-null float64
FavoriteCount    26345 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 1.8+ MB

In [31]:
questions["FavoriteCount"] = questions["FavoriteCount"].astype(int)
questions["ViewCount"] = questions["ViewCount"].astype(int)
questions["AnswerCount"] = questions["AnswerCount"].astype(int)
questions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26345 entries, 0 to 49999
Data columns (total 8 columns):
id               26345 non-null int64
PostTypeId       26345 non-null int64
CreationDate     26345 non-null datetime64[ns]
Score            26345 non-null int64
ViewCount        26345 non-null int32
Tags             26345 non-null object
AnswerCount      26345 non-null int32
FavoriteCount    26345 non-null int32
dtypes: datetime64[ns](1), int32(3), int64(3), object(1)
memory usage: 1.5+ MB

In [20]:
questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
id               50000 non-null int64
PostTypeId       50000 non-null int64
CreationDate     50000 non-null datetime64[ns]
Score            50000 non-null int64
ViewCount        26345 non-null float64
Tags             26345 non-null object
AnswerCount      26345 non-null float64
FavoriteCount    50000 non-null int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(3), object(1)
memory usage: 2.9+ MB

## Transform tags column into distinct tags grouped and counted

In [32]:
questions["Tags"]

0        <linux><networking><bridge><openwrt><mikrotik-...
1        <microsoft-excel><microsoft-excel-2010><condit...
3                       <context-menu><visual-studio-code>
4                                                   <boot>
6                                <ubuntu><virtualbox><cpu>
                               ...
49990                           <windows><laptop><battery>
49991    <usb><usb-flash-drive><bootable-media><usb-3><...
49992      <microsoft-excel><worksheet-function><vbscript>
49997    <bash><script><redhat-enterprise-linux><bashrc...
49999                                    <microsoft-excel>
Name: Tags, Length: 26345, dtype: object

In [33]:
questions["Tags"]= questions["Tags"].str.replace('><', ',')
questions["Tags"]= questions["Tags"].str.replace('<', '')
questions["Tags"]= questions["Tags"].str.replace('>', '')

In [34]:
questions["Tags"]

0        linux,networking,bridge,openwrt,mikrotik-routeros
1        microsoft-excel,microsoft-excel-2010,condition...
3                          context-menu,visual-studio-code
4                                                     boot
6                                    ubuntu,virtualbox,cpu
                               ...
49990                               windows,laptop,battery
49991       usb,usb-flash-drive,bootable-media,usb-3,rufus
49992          microsoft-excel,worksheet-function,vbscript
49997    bash,script,redhat-enterprise-linux,bashrc,append
49999                                      microsoft-excel
Name: Tags, Length: 26345, dtype: object

In [41]:
from collections import Counter
r = Counter(",".join(questions["Tags"].values.tolist()).split(",")).items()
result = pd.DataFrame(list(r), columns=['Tag', 'Count'])
result

tagCount = result.sort_values(['Count'], ascending=[False])
tagCount

                  Tag  Count
21         windows-10   3747
0               linux   3391
30            windows   2207
1          networking   1891
5     microsoft-excel   1766
...               ...    ...
2859           expose      1
1902     apache-storm      1
879              pear      1
1089       cd-burning      1
3617              mta      1

[3618 rows x 2 columns]

In [42]:
wipViewCount = pd.concat([questions['ViewCount'], questions["Tags"].str.split(',', expand=True)], axis=1)
wipViewCount

,ViewCount,0,1,2,3,4
0,280,linux,networking,bridge,openwrt,mikrotik-routeros
1,24,microsoft-excel,microsoft-excel-2010,conditional-formatting,None,None
3,28,context-menu,visual-studio-code,None,None,None
4,48,boot,None,None,None,None
6,5,ubuntu,virtualbox,cpu,None,None
...,...,...,...,...,...,...
49990,368,windows,laptop,battery,None,None
49991,230,usb,usb-flash-drive,bootable-media,usb-3,rufus
49992,84,microsoft-excel,worksheet-function,vbscript,None,None
49997,85,bash,script,redhat-enterprise-linux,bashrc,append
49999,29,microsoft-excel,None,None,None,None

## Loop tag columns summing up viewcount  by every tag column and the result save in one dataframe

In [43]:
frames = list()
for item in range(0,5):
    group_by_tag = wipViewCount.groupby([item])
    count = group_by_tag['ViewCount'].agg('sum')
    countVies = pd.DataFrame(count)
    frames.append(countVies)

result = pd.concat(frames)
result['Tag'] = result.index
result.info()
result.reset_index(drop=True, inplace=True)
result

<class 'pandas.core.frame.DataFrame'>
Index: 9986 entries, .net-4.0 to zsh
Data columns (total 2 columns):
ViewCount    9986 non-null int32
Tag          9986 non-null object
dtypes: int32(1), object(1)
memory usage: 195.0+ KB

      ViewCount             Tag
0            44        .net-4.0
1          5985  .net-framework
2             6         3ds-max
3           490   4k-resolution
4          3491          64-bit
...         ...             ...
9981        616      zero-write
9982        436             zfs
9983        120             zim
9984         48             zip
9985       7087             zsh

[9986 rows x 2 columns]

# result of grouping by tag columns group into distinct tags

In [44]:
grouping = result.groupby('Tag')
count = grouping['ViewCount'].agg('sum')
countViewsFinal = pd.DataFrame(count)
countViewsFinal = countViewsFinal.sort_values(['ViewCount'], ascending=[False])
countViewsFinal['Tag1'] = countViewsFinal.index
##countViewsFinal = countViewsFinal.set_index('Tag1', inplace=True)
countViewsFinal

              ViewCount          Tag1
Tag
windows-10      2821014    windows-10
linux           1421492         linux
windows         1071134       windows
networking       648830    networking
ubuntu           567108        ubuntu
...                 ...           ...
3ds-max               6       3ds-max
iis-7.5               6       iis-7.5
abbyy                 5         abbyy
passenger             5     passenger
checkinstall          5  checkinstall

[3618 rows x 2 columns]

# Merge tagcounts with countviews per tag

In [49]:
res = pd.merge(tagCount, countViewsFinal, left_on='Tag', right_on='Tag1')
del res['Tag1']
res.head(20)

                    Tag  Count  ViewCount
0            windows-10   3747    2821014
1                 linux   3391    1421492
2               windows   2207    1071134
3            networking   1891     648830
4       microsoft-excel   1766     464898
5                ubuntu   1222     567108
6                 macos    734     433178
7             windows-7    648     203629
8   wireless-networking    646     280425
9          command-line    626     402223
10        google-chrome    609     562629
11                  ssh    598     218290
12                 bash    597     243873
13           hard-drive    578     270731
14               python    573     370042
15                 boot    558     388158
16   worksheet-function    513     102400
17               ffmpeg    498     214422
18               router    495     228767
19       microsoft-word    419     135970

In [50]:
res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3618 entries, 0 to 3617
Data columns (total 3 columns):
Tag          3618 non-null object
Count        3618 non-null int64
ViewCount    3618 non-null int32
dtypes: int32(1), int64(1), object(1)
memory usage: 98.9+ KB

## Second Part

FileNotFoundError: [Errno 2] File b'all_questions.csv' does not exist: b'all_questions.csv'